body {
    overflow: hidden;
}

#slider {
    width: 100vw;
    height: 100vh;
    position: relative;
}

@media (max-width: 450px) {
    #slider {
        width: 100vw;
        height: 30vh;
    }
    .navbar-toggler {
        position: absolute;
        right: 10px;
    }
    .obrazki img{
        display: block;
    }
    body {
        overflow: auto;
    }
}

.obrazki img {
    width: 100vw;
    height: 30vh;
    /* display: none; */
}

#current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
  
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    border: 0;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
  
#prev {
    left: 20px;
}

#next {
    right: 20px;
}

#current {
    transition: all 0.5s linear;
}

.fadeOut{
    opacity: 0.85;
    scale: 0.9;
}
